# 1 ejercicio

In [14]:
import numpy as np
import pandas as pd
from scipy import stats
from scipy.stats import ttest_ind

In [23]:
df = pd.read_csv('Lligues europees UEFA.csv',encoding='iso-8859-1', sep = ';')
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98 entries, 0 to 97
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rk               98 non-null     int64
 1   Squad            98 non-null     object
 2   Country          98 non-null     object
 3   LgRk             98 non-null     int64
 4   MP               98 non-null     int64
 5   W                98 non-null     int64
 6   D                98 non-null     int64
 7   L                98 non-null     int64
 8   GF               98 non-null     int64
 9   GA               98 non-null     int64
 10  GD               98 non-null     int64
 11  Pts              98 non-null     int64
 12  Pts/G            98 non-null     float64
 13  xG               98 non-null     float64
 14  xGA              98 non-null     float64
 15  xGD              98 non-null     float64
 16  xGD/90           98 non-null     float64
 17  Last 5           98 non-null     object
 18  Attendance       98 non-null     int64
 19  Top Team Scorer  98 non-null     object
 20  Goalkeeper       98 non-null     object
dtypes: float64(5), int64(11), object(5)
memory usage: 16.2+ KB

,Rk,LgRk,MP,W,D,L,GF,GA,GD,Pts,Pts/G,xG,xGA,xGD,xGD/90,Attendance
count,98.000000,98.000000,98.000000,98.000000,98.000000,98.00000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000
mean,49.500000,10.316327,36.306122,13.448980,9.408163,13.44898,50.877551,50.877551,0.000000,49.734694,1.370204,48.653061,48.645918,-0.005102,0.000918,24239.857143
std,28.434134,5.706926,1.152390,5.747474,2.903381,5.12347,16.102933,13.634602,26.501896,16.166371,0.443903,12.453950,9.812481,19.992506,0.551414,14874.171842
min,1.000000,1.000000,34.000000,3.000000,3.000000,2.00000,23.000000,24.000000,-56.000000,18.000000,0.530000,28.200000,26.800000,-40.400000,-1.090000,5870.000000
25%,25.250000,5.250000,36.000000,9.000000,7.000000,10.00000,39.000000,40.000000,-17.750000,37.000000,1.000000,39.100000,41.300000,-13.575000,-0.365000,12355.500000
50%,49.500000,10.000000,37.000000,13.000000,9.000000,13.00000,47.000000,50.000000,-1.000000,46.000000,1.300000,46.450000,47.750000,-1.100000,-0.030000,20491.000000
75%,73.750000,15.000000,37.000000,17.000000,11.000000,17.00000,60.000000,59.000000,17.250000,61.750000,1.695000,55.550000,54.700000,12.800000,0.355000,32382.000000
max,98.000000,20.000000,37.000000,28.000000,16.000000,26.00000,97.000000,89.000000,72.000000,90.000000,2.430000,88.100000,73.300000,59.300000,1.600000,73150.000000

In [24]:
# Seleccionar dos columnas para comparar
column1 = "xG"
column2 = "GA"

# Calcular el p-valor para las dos columnas
alpha = 0.05
t_statistic, p_value = ttest_ind(df[column1], df[column2])
if p_value < alpha:
    print(f"{column1} vs {column2}: P-value = {p_value:.4f} (reject null hypothesis)")
else:
    print(f"{column1} vs {column2}: P-value = {p_value:.4f} (cannot reject null hypothesis)")

xG vs GA: P-value = 0.2345 (cannot reject null hypothesis)

## 2 ejercicio

In [25]:

column1 = "Country"
column2 = "Attendance"


alpha = 0.05
countries = df[column1].unique()
group1 = df[df[column1] == countries[0]][column2]
group2 = df[df[column1] == countries[1]][column2]
t_statistic, p_value = ttest_ind(group1, group2)
if p_value < alpha:
    print(f"{column1} vs {column2}: P-value = {p_value:.4f} (reject null hypothesis)")
else:
    print(f"{column1} vs {column2}: P-value = {p_value:.4f} (cannot reject null hypothesis)")

Country vs Attendance: P-value = 0.0011 (reject null hypothesis)

## 3 ejercicio

In [26]:
column1 = "GF"
column2 = "GA"
column3 = "Attendance"

# Realizar prueba ANOVA de una vía para las tres columnas
alpha = 0.05
f_statistic, p_value = f_oneway(df[column1], df[column2], df[column3])
if p_value < alpha:
    print(f"{column1}, {column2}, y {column3}: P-value = {p_value:.4f} (reject null hypothesis)")
else:
    print(f"{column1}, {column2}, y {column3}: P-value = {p_value:.4f} (cannot reject null hypothesis)")

GF, GA, y Attendance: P-value = 0.0000 (reject null hypothesis)